# Autostart necessary processes (like notifications daemons, status bars, etc.)
# Or execute your favorite apps at launch like this:

# exec-once = $terminal
# exec-once = nm-applet &
exec-once = uwsm app -- flatpak run ch.protonmail.protonmail-bridge
exec-once = uwsm app -- elephant
exec-once = uwsm app -- ashell
